header.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  background: rgb(255,255,255); /* for IE */
  background: rgba(255,255,255,0.75);
}

.header-proper {
  width: 80%;
  margin: 0 auto;
}
.header-proper .logo {
  font-family: "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif;
  font-weight: bold;
}
.header-proper .logo .blue {
  color: blue;
}

.scroll-line {
  height: 2px;
  margin-bottom: -2px;
  background: blue;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 0 auto;
  width: 80%;
}

.headline {
  font-size: 60px;
  line-height: 66px;
}






/*Codepen style*/
.profile-name {
  display: none;
}

.profile-header {
  height: 800px;
}

a.logo {
  display: inline-block;
  margin-top: -50px;
  margin-bottom: 50px;
  width: 128px;
  height: 31px;
  background-image: url("//www.tinymce.com/images/logo-tinymce-onblue@2x.png");
  background-size: 128px 31px;
  background-repeat: no-repeat;
  background-position: 50%;
}
